#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Alunos</h1>

<table>
	<tr>
		<th>Matrícula</th><th>Nome</th><th>Email</th><th>Ações</th></tr>
	#{list items:alunos, as:'aluno'}
	<tr><td>${aluno.matricula}</td><td>${aluno.nome}</td><td>${aluno.email}</td><td> <a href="@{deletar(aluno.matricula)}" class="delete"> Deletar</a></td></tr>
	#{/list}
</table>
	
<form method="POST" action="@{criar}">
	<p>Nome do Aluno: <input type="text" name="nome"></p>
	<p>Matricula: <input type="text" name="matricula"></p>
	<p>Senha: <input type="password" name="senha"></p>
	<p>Email: <input type="text" name="email"></p>
	<p><input type="Submit" value="Criar Aluno"></p>

</form>
