#{extends 'main.html' /}
#{set title:'Professor' /}

<h1>Provas</h1>

<table>
	<tr>
	<th>Codigo</th><th>Valor</th><th>Data</th><th>Horario</th><th>Codigo Turma</th><th>Ações</th>
	</tr>
	#{list items:provas, as:'prova'}
		<tr><td>${prova.codigo}</td><td>${prova.valor}</td><td>${prova.data}</td><td>${prova.horario}</td><td>${prova.turma.codigo}</td><td> <a href="@{editarQuestoes(prova.codigo)}"> Editar Questoes</a> <a href="@{deletar(prova.codigo)}" class="delete"> Deletar</a></td></tr>
	#{/list}
</table>
	
<form method="POST" action="@{criar}">
	<p>Codigo: <input type="text" name="codigo"></p>
	<p>Valor: <input type="text" name="valor"></p>
	<p>Data: <input type="text" name="data"></p>
	<p>Horario: <input type="text" name="horario"></p>
	<p>Turma:
	<select name="codigoTurma">
		#{list items: turmas, as:'turma'}
		<option value="${turma.codigo}">${turma.codigo}</option>
		#{/list}
	</select></p>
	<p><input type="Submit" value="Criar Prova"></p>
</form>
