#{extends 'main.html' /}
#{set title:'Home' /}

<h1>Questões</h1>

<ul>
	#{list items:questoes, as:'questao'}
		<li>${questao.codigo} <br> ${questao.enunciado} <br> ${questao.referenciaBibliografica} <a href="@{deletar(questao.codigo)}" class="delete"> Deletar</a> </li>
	#{/list}
</ul>
	
<form method="POST" action="@{criar}">
	<p>Codigo: <input type="text" name="codigo"></p>
	<p>Enunciado: <input type="text" name="enunciado"></p>
	<p>Referencia Bibliografica: <input type="text" name="referenciaBibliografica"></p>
	<p>
	<select name="tipo">
		<option value="aberta" selected>Aberta</option>
		<option value="multiplaEscolha">Multipla Escolha</option>
		<option value="verdadeiroOuFalso">Verdadeiro ou Falso</option>
		<option value="completacao">Completacão</option>
		<option value="associacao">Associacão</option>
	</p>
	<p><input type="Submit" value="Criar Questão"></p>
</form>
