#{extends 'main.html' /}
#{set title:'Quem somos?' /}
<h1>Quem somos?</h1>
<h3>O Sistema ACME é um sistema para gestão de provas (atividades avaliativas), que permite manter informações associadas a provas de qualquer elemento curricular. A partir de um banco de questões previamente cadastradas, o sistema permite selecionar questões para compor uma prova, de forma manual ou automática. Para tanto, o sistema permite o cadastramento de professores, os quais realizam o cadastramento das questões.
<br><br>
O sistema permite cadastrar questões de múltipla escolha, questões de verdadeiro e falso, questões de associação, questões de ensaio (abertas que implicam a produção de um texto) e questões de completação. Para cada questão são informadas palavras-chave que permitem contextualizar a questão a um dado conteúdo ministrado. É possível também informar a fonte da questão, quando não for de autoria do próprio professor. Além disso, é possível associar a questão a referências bibliográficas que foram utilizadas para elaboração da mesma.
<br><br>
Ao elaborar uma prova, pelo professor, o sistema possibilita vincular essa prova a um conjunto de alunos, também previamente cadastrados e associados a uma turma/disciplina. Para cada questão é informado um valor/peso.
<br><br>
O sistema possibilita que o aluno faça a prova on-line. No entanto, o resultado só é liberado após anuência do responsável pela elaboração da prova.
<br><br>
O sistema permite que o responsável pela elaboração da prova cadastre a prova realizada pelo aluno. Nesse caso, o sistema verifica automaticamente a corretude das questões objetivas (multipla escolha, verdadeiro e falso, associação e completação). Nas questões de ensaio, o professor atribui uma nota de aproveitamento obtida na questão.
<br><br>
A partir do cadastro das respostas dos alunos e/ou notas obtidas nas questões de ensaio, o sistema permite emitir relatórios informando o índice de aproveitamento nas questões de uma determinada prova. Esse índice de aproveitamento é exibido ao professor no momento da seleção das questões para compor uma prova.
</h3>
