<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="utf-8">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
		<div id="nav">
    		<b>Menu:</b>
    		<a href="@{Application.index}">Home</a>
    		#{if logadoProfessor}
			<a href="@{ProvaController.listar}">Provas</a>
			#{/if}
			#{if logadoAdministrador}
			<a href="@{AdministradorController.listar}">Administradores do Sistema</a>
			<a href="@{ProfessorController.listar}">Professor</a>
			<a href="@{AlunoController.listar}">Aluno</a>
			<a href="@{DisciplinaController.listar}">Disciplina</a>
			#{/if}
			#{if logado}
			<a href="@{LoginController.logout}">Logout</a>
			#{/if}
			#{else}
			<a href="@{LoginController.login}">Login</a>
			#{/else}
		</div>
		<div id="content">
        	#{doLayout /}
		</div>
    </body>
</html>
