#{extends 'main.html' /}
#{set title:'Administrador' /}

<h1>Turmas</h1>

<table>
	<tr>
	<th>Matricula</th><th>Nome</th><th>Ações</th>
	</tr>
	#{list items:alunos, as:'aluno'}
		<tr><td>${aluno.matricula}</td><td>${aluno.nome}</td><td> <a href="@{removerAluno(codigoTurma, aluno.matricula)}">Remover</a> </td></tr>
	#{/list}
</table>
	
<form method="POST" action="@{adicionarAluno}">
	<input type="hidden" name="codigoTurma" value="${codigoTurma}">
	<p><select name="matriculaAluno">
		#{list items: todosAlunos, as: 'aluno'}
			#{if !alunos.contains(aluno)}
				<option value="${aluno.matricula}">${aluno.nome}</option>
			#{/if}
		#{/list}
	</select></p>
	<p><input type="Submit" value="Matricular Aluno na Turma"></p>
</form>
